.frame {
    height:300px;
    width:400px;
}

#frame1 {
    background-color: red;
}

#frame2 {
    background-color: orange;
}

#frame3 {
    background-color: yellow;
}

#frame4 {
    background-color: green;
}